<html>
	<head>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/js-cookie@rc/dist/js.cookie.min.js"></script>
	</head>
	
	<body>
	
		<div class="cat_basket">
			<div class="cat">
				<% cat.forEach(function(item) { %>
					<p> <a href='<%= item.title_id %>'> <%= item.title %> </a> </p>
				<% }); %>
			</div>

			<div class="user" id="user" align="right"> 
				<a href="/reg">Регистрация/Логин</a>
				<script>
                    token=Cookies.get("auth");
                    console.log(document.cookie);
                    if(token.length>0) {
                        $.ajax({
                            method:"post",
							url:"http://localhost:3000/reg/checkToken",
							headers:{'authorization':token,'sameSite':'None;Secure'},
							crossOrigin: true,
							xhrFields: { withCredentials: true }
                        })
						.then(response => {
							if (response.message==1)
							{
								u = document.getElementById('user');
								userName = localStorage.getItem('userName');
								userID = localStorage.getItem('userID');
								u.innerHTML = "ID="+userID+" Name= <a href='http://localhost:3000/userPage'>"+userName+'</a>';
							}
						});
                    }
                </script>
            </div>
			
			<div class="basket" align="right">
				<a href="http://localhost:3000/basket"><img src="http://127.0.0.1:3000/basket.png"></a>
				<!--<div id="item_count"></div>
				<script>
                    b = document.getElementById('item_count');
                    count = localStorage.getItem('item_count');
                    b.innerHTML = count;
                </script> -->
			</div>
		</div>

		<div class="items">
			<% data.forEach(function(item) { %>
				<div class="obj">
					<a href='showItem/<%= item.title %>'> <%= item.title %> </a>
					<p><%= item.price %>$</p>
				</div>
			<% }); %>
		</div>

		<style>
			.cat_basket{
                display: grid;
                grid-template-columns: 75% 15% 10%;
            }
			#item_count {
                font-size: 1.3em;
                position: relative;
                top: -45px;
                right: 2px;
            }
			.basket img{
                position: relative;
				width: 55px;
				height: 50px;
			}
			.items {
				position: absolute;
				left: 10%;
				top: 150px;
				width: 70%;
				display: grid;
				grid-template-columns: 1fr 1fr 1fr;
			}
			.obj p{
				font-size: 1.3em;
			}
			.obj{
				width: 300px;
				height: 300px;
				text-align: center;
			}
			.items a:link{
				color:rgb(55, 73, 151);
				text-decoration: none;
				font-size: 1.3em;
			}
			.items a:visited{
				color:rgb(55, 73, 151);
			}
			.items a:hover{
				color:rgb(219, 13, 13);
			}
			.items a:active{
				color:rgb(55, 73, 151);
			}
			.cat {
                font-size: 1.3em;
            }
            .cat a:link{
				color:rgb(55, 73, 151);
                text-decoration: none;
			}
			.cat a:visited{
				color:rgb(55, 73, 151);
			}
			.cat a:hover{
				color:rgb(219, 13, 13);
			}
			.cat a:active{
				color:rgb(55, 73, 151);
			}
			.user a:link{
				color:rgb(55, 73, 151);
                text-decoration: none;
			}
			.user a:visited{
				color:rgb(55, 73, 151);
			}
			.user a:hover{
				color:rgb(219, 13, 13);
			}
			.user a:active{
				color:rgb(55, 73, 151);
			}
		</style>

    </body>
</html>